body,
html {
    margin: 0;
    padding: 0;
}

body {
    border: 1px solid #00000033;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-after-titlebar,
.main {
    overflow: hidden !important;
}

.ui.segment.basic.inverted {
    background: #212222 !important;
    color: #fafafa !important;
    margin: 0 !important;
}

.ui.header,
.ui.header .sub.header {
    color: #fafafa !important;
}

.content>.header {
    font-size: 1.2rem;
}

.settings-container,
.ui.settings-container {
    overflow-y: scroll;
    height: 68.1vh;
    padding: 12px 5px !important;
    margin: 0 !important;
}

.container {
    padding: 0 !important;
}

.ui.list>.item {
    padding: 10px 5px;
}

::-webkit-scrollbar {
    width: 7px !important;
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: #707070 !important;
    border-radius: 0px !important;
}

.ui.footer .button {
    border-radius: 0 !important;
    text-transform: uppercase;
}

.ui.footer .container {
    display: flex;
    flex-direction: row-reverse;
}