* {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    height: 100%;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

body {
    box-sizing: border-box;
    background: #F6F9FA;
}

.header-wrapper {
    background: #00BFA4;
    color: #FFFFFF;
    padding: 30px;
    text-align: left;
}

.header {
    margin: 5px;
}

.sub-header {
    margin: 5px;
}

.css-code-container {
    padding: 0px 15px;
}

.css-code-textbox {
    width: 95%;
    height: 50vh;
    resize: none;
    outline: none;
    padding: 10px;
    font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Courier New', Courier, monospace;
    font-size: 1.01rem;
}

.submit-button-container {
    text-align: right;
    padding: 10px 20px;
}

.button {
    background: #128C7E;
    color: #FFFFFF;
    padding: 10px 20px;
    border: 0;
    border-radius: 3px;
    font-size: 1.01rem;
}

.header {
    background: #00BFA4;
    color: #FFFFFF;
}

.button:hover {
    box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.43);
    cursor: pointer;
}

.theme-name-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.theme-name-label {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 3px;
}

#theme-name {
    width: 78%;
    padding: 2px;
    font-size: 0.9rem;
}