:root {
  --window-border: #1f1f20e7;
}

*:focus {
  outline: 1.5px solid #1b74e0 !important;
}

html,
body {
  height: 100%;
}

body {
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid var(--window-border);
  background: linear-gradient(to bottom right, #1a1a1a, #0f1010) !important;
}

.container-after-titlebar {
  border-bottom: 1px solid var(--window-border);
  overflow: hidden !important;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  height: -webkit-fill-available;
}

.titlebar {
  border: 1px solid var(--window-border);
  border-bottom: 0;
}

[role="tablist"] {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  background: #191b1f;
  color: #fff;
  flex-flow: row nowrap;
  overflow: auto;
}

[role="tab"] {
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  display: flex;
  padding: 0.5em 1.25em;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  white-space: nowrap;
  box-sizing: border-box;
}

[role="tab"][aria-selected="true"] {
  background: #2a3440 !important;
}

#themes,
#addnew {
  padding: 1rem;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#themes-container {
  flex-grow: 1;
  overflow-y: auto;
}

.theme {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme:not(:last-child) {
  margin-bottom: 0.5rem;
}

.theme .name {
  font-size: 1.35rem;
}

button {
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  background: #2a3440;
  color: #fff;
  border: 0;
}

.remove-theme {
  background: #d61e1e !important;
}

.full-width.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.65rem 0.75rem;
  font-size: 1rem;
}

.full-width.button:hover {
  background: #313e4d;
}

.full-width.button .icon {
  font-size: 0.95rem;
  margin-right: 0.75rem;
}

.theme button:first-child {
  margin-right: 0.35rem;
}

:disabled {
  cursor: not-allowed !important;
  filter: brightness(0.55);
}

.options-container {
  flex-grow: 2;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option:not(:last-child) {
  margin-bottom: 0.5rem;
}

.option label {
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 0.25rem;
}

.option .preset-select {
  width: 43.5%;
}

.option select {
  width: 100%;
  box-sizing: border-box;
  padding: 0.25rem;
  font-size: 0.85rem;
}

.option .text-input input {
  width: 100%;
  box-sizing: border-box;
}

.option .color-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.option .color-input input[type="text"] {
  margin-right: 0.35rem;
  width: 60%;
}

.option .color-input input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 1.5rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.option input[type="text"] {
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.85rem;
  padding: 0.25rem;
}

.buttons-container {
  display: flex;
}

.buttons-container :first-child {
  margin-right: 0.5rem;
}
