:root {
  --window-border: #1f1f20e7;
}

html,
body {
  height: 100%;
}

body {
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid var(--window-border);
  background: linear-gradient(to bottom right, #1a1a1a, #0f1010) !important;
  color: #fff;
}

.container-after-titlebar {
  border-bottom: 1px solid var(--window-border);
  padding: 0 1rem;
}

.titlebar {
  border: 1px solid var(--window-border);
  border-bottom: 0;
}

.title {
  margin-top: .5rem;
  font-weight: 500;
  font-size: 2.25rem;
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  padding-bottom: .15rem;
  border-bottom: 3px solid #48484891;
  -webkit-user-select: none;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3A4049;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  position: relative;
}

.creator {
  margin: 0.5rem 0;
}

.input {
  font-size: 1.3rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input .inputs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input input[type="text"] {
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  padding: .15rem .35rem;
}

.input.color input[type="text"] {
  width: 60%;
  margin-right: 0.5rem;
}

.input input:focus,
button:focus {
  outline: 2px solid #2a71d1;
}

.input input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 1.5rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

button {
  width: 100%;
  margin-top: .5rem;
  background: #1e72e0;
  border: 1px solid #2a71d1;
  padding: .5rem 1rem;
  font-size: 1.05rem;
  cursor: pointer;
  color: #fff;
  font-family: BlinkMacSystemFont, "Manrope", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
  background: #1760c0;
}