:root {
  --window-border: #1f1f20e7;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, "Manrope", BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid var(--window-border);
  background: linear-gradient(to bottom right, #1a1a1a, #0f1010) !important;
  margin: 0;
  overflow: hidden;
}

.container-after-titlebar {
  border-bottom: 1px solid var(--window-border);
  padding: 0rem 1rem;
}

.titlebar {
  border: 1px solid var(--window-border);
  border-bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3A4049;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 10px;
}

.title {
  margin-top: .5rem;
  font-weight: 500;
  font-size: 2.25rem;
  font-family: -apple-system, "Manrope", BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  padding-bottom: .15rem;
  border-bottom: 3px solid #48484891;
  -webkit-user-select: none;
  position: relative;
}

.settings-container {
  overflow: hidden;
  max-height: 68vh;
  overflow-y: auto;
  margin: .5rem 0;
}

.setting {
  display: flex;
  color: #fff;
  padding: 0.45rem 0;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(80, 80, 80, 0.25);
  margin-right: .5em;
}

.setting:last-child {
  border-bottom: none;
}

.setting .information {
  margin-right: 4vw;
}

.setting-title {
  font-family: -apple-system, "Manrope", BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.45rem;
}

.setting-description {
  font-family: -apple-system, "Manrope", BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.95rem;
  font-weight: 300;
  margin: 0.35rem 0;
}

.toggle-bg,
.input-checkbox {
  background: #fff;
  width: 2.75rem;
  height: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
}

.input-checkbox {
  background: none;
}

.toggle-bg::after {
  content: "";
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
  background: linear-gradient(270deg, #09a5d7 0%, #2a71d1 100%);
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 0;
}

.checkbox {
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.checkbox:checked+.toggle-bg::after {
  transition: 0.15s;
  background: #fff;
  left: auto;
  right: 10%;
}

.checkbox:checked+.toggle-bg {
  background: linear-gradient(270deg, #09a5d7 0%, #2a71d1 100%);
}

.checkbox:focus+.toggle-bg,
.checkbox:active+.toggle-bg {
  outline: 1px solid #2a71d1;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row-reverse;
}

.footer button {
  margin: 0 .25rem;
  border: 1px solid #3A4049;
  padding: .5rem 1rem;
  font-size: 1.05rem;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-family: -apple-system, 'Manrope', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer button:focus {
  outline: 1px solid #2a71d1;
}

.footer button:hover {
  background: #3A4049;
}

.footer button:first-child {
  margin-right: 0;
  background: #1e72e0;
  border: 1px solid #2a71d1;
  padding: .5em 1.35em;
}

.footer button:first-child:hover {
  background: #1760c0;
}

.footer button:first-child:focus {
  outline: 1px solid #09a5d7;
}

.tooltip {
  position: relative;
}

.tooltip:hover::after,
.tooltip:focus::after {
  content: attr(data-tooltip);
  background: #101114;
  border: 1px solid #242525;
  font-size: 1rem;
  font-family: -apple-system, "Manrope", BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  padding: 0.5rem 1rem;
  position: absolute;
  width: max-content;
}

.tooltip-top:hover::after,
.tooltip-top:focus::after {
  width: auto;
  bottom: 110%;
  left: 0;
}