@import './choices.css';

:root {
  --window-border: #1f1f20e7;
}

html,
body {
  height: 100%;
}

body {
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  border: 1px solid var(--window-border);
  overflow: hidden;
}

.titlebar {
  border: 1px solid var(--window-border);
  border-bottom: 0;
}

.container-after-titlebar {
  border: 1px solid var(--window-border);
  overflow: hidden !important;
}

.menubar-menu-container {
  margin-top: -1px !important;
}

[role="tablist"] {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 5.5vh;
  background: #191b1f;
  color: #fff;
  flex-flow: row nowrap;
  overflow: auto;
}

[role="tab"] {
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  display: flex;
  padding: 0.4em 1em;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  white-space: nowrap;
  box-sizing: border-box;
}

[role="tab"]:not([aria-selected="true"]) {
  filter: brightness(0.75);
}

[role="tab"] .lni-cog {
  margin: 0 10px;
}

[role="tab"] .lni-close {
  margin: 0 0 0 5px;
}

[role="tab"][aria-selected="true"] {
  background: #2a3440 !important;
}


[role="tabpanel"] {
  height: 94.3%;
}

[role="tab"]:focus {
  outline: none;
}

[href="#addtab"] {
  padding: 0 13px;
}

webview {
  height: 100%;
}

#addtab {
  background: linear-gradient(to bottom, #30323e, #1a1b24) !important;
}

#addtab .flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  box-sizing: unset;
  width: 25%;
  background: linear-gradient(to bottom right, #191a24, #0f1010) !important;
  border-radius: 5px;
  color: #fff;
  padding: 10px 30px 30px 30px;
}

@media screen and (max-width: 960px) {
  .main-container {
    width: 40%;
  }
}

.main-container>.title {
  text-align: center;
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.65rem;
  margin: 15px 0;
  -webkit-user-select: none;
}

.inputs>* {
  margin: 10px 0;
}

.label {
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  text-align: left;
  -webkit-user-select: none;
}

.input-flex {
  display: flex;
}

.textbox {
  padding: 0.55rem .7rem;
  margin: 10px 0 0 0;
  border: 1px solid #5c5c5c;
  font-size: 1rem;
  background: #15161d;
  color: #fff;
  flex: 1;
}

.textbox::-webkit-input-placeholder {
  color: #bdbdbd;
  -webkit-user-select: none;
}

.textbox:focus {
  outline: none;
  border: 1px solid #2a71d1;
}

.toggle-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input:focus,
button:focus {
  outline: 2px solid #2a71d1;
}

.toggle-bg,
.input-checkbox {
  background: #fff;
  width: 2.75rem;
  height: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
}

.input-checkbox {
  background: none;
}

.toggle-bg::after {
  content: "";
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
  background: linear-gradient(270deg, #09a5d7 0%, #2a71d1 100%);
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 0;
}

.checkbox {
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.checkbox:checked+.toggle-bg::after {
  transition: 0.15s;
  background: #fff;
  left: auto;
  right: 10%;
}

.checkbox:checked+.toggle-bg {
  background: linear-gradient(270deg, #09a5d7 0%, #2a71d1 100%);
}

.checkbox:focus+.toggle-bg,
.checkbox:active+.toggle-bg {
  outline: 1px solid #2a71d1;
}

.submit.button {
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  background: #0960d1;
  color: inherit;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1.15rem;
  font-weight: 400;
  border-radius: 2px;
  transition: background 0.35s;
  -webkit-user-select: none;
}

.submit.button:focus {
  outline: 1px solid #75b1ff;
}

.submit.button .lni-plus {
  margin-right: 10px;
}

.submit.button:hover {
  transition: background 0.15s;
  background: #024bac;
}

.edit-popup-title {
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff !important;
  margin: 0 !important;
  -webkit-user-select: none;
  padding-bottom: .5rem !important;
  border-bottom: 1px solid #2b2b2bbf;
  margin-bottom: .5rem !important;
}

.edit-popup-title h2 {
  margin: 10px 0 !important;
  max-width: 25vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.prompt-title {
  font-size: 1rem !important;
}

.edit-popup {
  background: linear-gradient(to bottom right, #191a24, #0f1010) !important;
  color: #fff !important;
  border: 1px solid rgba(58, 58, 58, 0.295) !important;
  border-radius: 0 !important;
}

.edit-popup * {
  color: #fff;
}

.edit-popup-button {
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border-radius: 2px;
  -webkit-user-select: none;
}

.edit-popup-button:active,
.edit-popup-button:focus {
  outline: 1px solid #75b1ff;
}

.edit-popup-confirm-button {
  border: 0;
  background: #0960d1;
  color: #fff;
}

.edit-popup-confirm-button:hover {
  background: #024bac;
}

.edit-popup-cancel-button {
  margin-right: 10px;
  background: none;
  border: 1px solid transparent;
}

.edit-popup-cancel-button:hover {
  border: 1px solid #fff;
}

.prompt-confirm-button {
  background: #d61e1e;
  border: 0;
}

.prompt-confirm-button:hover {
  background: #a31717;
  border: 0;
}

.prompt-cancel-button {
  background: #383b3b;
  border: 0;
}

.prompt-cancel-button:hover {
  background: #242525;
  border: 0;
}

.prompt-button {
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: .75rem 1.5rem;
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0 .25rem;
}

.close-popup .swal2-actions {
  justify-content: center !important;
}

.edit-popup .toggle-field {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edit-popup .choices {
  text-align: left;
}

.edit-popup .swal2-actions {
  z-index: 0;
  margin-top: 0;
  justify-content: flex-end;
}

.help {
  background: #2c2e30;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  padding: .25rem .55rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  margin-left: .5rem;
  cursor: pointer;
}

.edit-popup .help {
  margin-right: 1rem;
}

.help:focus {
  outline: 1px solid #2a71d1;
}

.tooltip {
  position: relative;
}

.tooltip:hover::after,
.tooltip:focus::after {
  content: attr(data-tooltip);
  background: #101114;
  border: 1px solid #242525;
  font-size: 1rem;
  font-family: BlinkMacSystemFont, "Manrope", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 100;
  line-height: 1.45rem;
}

.tooltip-top:hover::after,
.tooltip-top:focus::after {
  min-width: 30vw;
  width: 40vw;
  max-width: 50vw;
  bottom: 115%;
}

.with-help {
  display: flex;
  align-items: center;
}